<!DOCTYPE html>
<html lang = "en">
	<head>
		<title>Chicago Eats</title>
		<link rel = "stylesheet" href = "/css/style.css" type = "text/css">
        <script src="https://6566a88864fcff8d730ef1a5.mockapi.io/api/chirest/restaurants" defer></script>
		<meta charset = "UTF-8">
		<meta name = "description" content = "Chicago Eats">
		<meta name = "keywords" content = "brianna wright, caitlin cabanas, caroline houser, chris sinclair, chicago, restaurants, reviews, ratings">
		<meta name = "author" content = "Brianna Wright, Caitlin Cabanas Caroline Houser, Chris Sinclair">
		<meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
	</head>

	<body>
        <div class="header">
            <div class= “header-image”>
            <div class="header-border">
            <div class= “header-text”>
                <h1> Chicago Eats</h1>
            </div>
              </div></div></div>
          
          
          <div class="dropdown">
            <button class="dropbtn">Locations</button>
            <div class="dropdown-content">
                <form action="/neighborhood" method="POST">
            <div class="dropdown-btn"><button type="submit" class="button" id = "typebutton" name="neighborhood" value="Lakeview">Lakeview</button></div>
              </form>
            <form action="/neighborhood" method="POST">
                <div class="dropdown-btn"><button type="submit" class="button" id = "typebutton" name="neighborhood" value="Rogers Park">Rogers Park</button></div>
              </form>
            <form action="/neighborhood" method="POST">
                <div class="dropdown-btn"><button type="submit" class="button" id = "typebutton" name="neighborhood" value="Lincoln Park">Lincoln Park</button></div>
            </form></div>
          </div>
          
          <div id = "type" class="dropdown">
          <button class="dropbtn">Style</button>
            <div class="dropdown-content">
                <form action="/cuisine" method="POST">
                <div class="dropdown-btn"><button type="submit" class="button" id = "typebutton" name="cuisine" value="Mexican">Mexican</button></div>
                </form>
                <form action="/cuisine" method="POST">
                <div class="dropdown-btn"><button type="submit" class="button" id = "typebutton" name="cuisine" value="Italian">Italian</button></div>
                </form>
                <form action="/cuisine" method="POST">
                <div class="dropdown-btn"><button type="submit" class="button" id = "typebutton" name="cuisine" value="American">American</button></div>
                </form>
            </div></div>

        <!-- GROUP CODE-->     
        <table style="margin: 20px;">
            <tr>
                <th>Name</th>
                <th>Neighborhood</th>
                <th>Cuisine</th>
                <th>Options</th>
            </tr>
        {{#each specificCuisine}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.neighborhood}}</td>
                <td>{{this.cuisine}}</td>
                <td>
                    <form action="/displaypage" method="POST">
                        <input type="radio" name="rating" value="0">0</forminput>
                        <input type="radio" name="rating" value="1">1</forminput>
                        <button type="button" class="btn btn-success" name="cuisine_display" value="{{this.id}}">Display Page</button>
                    </form>

                </td>
                
            </tr>
        {{/each}}
    
        <br>
        <table style="margin: 20px;">
            <tr>
                <th>Name</th>
                <th>Neighborhood</th>
                <th>Cuisine</th>
                <th>Options</th>
            </tr>
        {{#each specificNeighborhood}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.neighborhood}}</td>
                <td>{{this.cuisine}}</td>
                <td>
                    <form action="/displaypage" method="POST">
                        <input type="radio" name="rating0" value="0">0</forminput>
                        <input type="radio" name="rating1" value="1">1</forminput>
                        <button type="button" class="btn btn-success" name="cuisine_display" value="{{this.id}}">Display Page</button>
                    </form>

                </td>
                
            </tr>
        {{/each}}
        <br>

        <div id = "rating">
            Rating:
            <br>
            <br>
            <button id = "ratingbutton5" onClick = "window.location.href = '';">5</button>
            <button id = "ratingbutton4" onClick = "window.location.href = '';">4</button>
            <button id = "ratingbutton3" onClick = "window.location.href = '';">3</button>
            <button id = "ratingbutton2" onClick = "window.location.href = '';">2</button>
            <button id = "ratingbutton1" onClick = "window.location.href = '';">1</button>
        </div>
        <script>
            function toLakeview(){
            window.location.href = "http://localhost:3000/lakeview";
        }

        function toLincolnPark(){
            window.location.href = "http://localhost:3000/lincolnpark";
        }

        function toRogersPark(){
            window.location.href = "http://localhost:3000/rogerspark";
        }
        </script>
    </body>
    
    <footer>

    </footer>

</html>
