<!DOCTYPE html>
<html lang = "en">
	<head>
		<title>Chicago Eats</title>
		<link rel = "stylesheet" href = "./css/style.css" type = "text/css">
		<meta charset = "UTF-8">
		<meta name = "description" content = "Chicago Eats">
		<meta name = "keywords" content = "brianna wright, caitlin cabanas, caroline houser, chris sinclair, chicago, restaurants, reviews, ratings">
		<meta name = "author" content = "Brianna Wright, Caitlin Cabanas Caroline Houser, Chris Sinclair">
		<meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
	</head>

	<body>
        <div id = "homeheading">
            Chicago Eats!
        </div>
        <!--<h2>Update:</h2>
             <form action="/get_lakeview" method="POST">
                <input type="text"  name="item_name" class="form-control"  placeholder="Enter grocery item (ex. Cereal)" value = "{{row.item_name}}" size="40"><br>
                <input type="number"  name="item_count" class="form-control" placeholder="Enter quantity (ex. 2)" value = "{{row.item_count}}" size="60"><br>
                <button name="getlakeview" id="confirmnow" type="confirm" class="btn btn-primary" value="{{row.itemID}}">Get Lakeview</button>
             </form>-->



      <ul></ul>
<script>

fetch('https://6566a88864fcff8d730ef1a5.mockapi.io/api/chirest/restaurants')
   .then(res => {
      return res.json();
} ) 
.then(data =>{
   data.forEach(restaurant => {
       
       if (restaurant.neighborhood == "Lakeview"){
       const markup = `<li>${restaurant.name}</li>`;
       document.querySelector ('ul').insertAdjacentHTML('beforeend', markup);
       }
   });

})
.catch(error => console.log(error));

</script> 


</body>
</html>