<style>
.expand{
    display: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

 th{
  padding: 8px;
  text-align: left;
  font-weight: 550;
  border-style: solid;
  border-width: 2px;    
  }

tr:hover {
  background-color: #c0c0c1d5;
}
</style>

<table>
    <tr>
        <th>Name</th>
        <th>Neighborhood</th>
        <th>Cuisine</th>
        <th>Rating</th>
    </tr>
{{#each specificCuisine}}
<tr onclick="expandRest('{{this.name}}', '{{this.neighborhood}}', '{{this.id}}')">
    <td>{{this.name}}</td>
    <td>{{this.neighborhood}}</td>
    <td>{{this.cuisine}}</td>
    <td>{{this.rating}}</td>
</tr>
<tr class="expand" id="rest{{this.id}}"></tr>
{{/each}}
{{#each specificNeighborhood}}
<tr onclick="expandRest('{{this.name}}', '{{this.neighborhood}}', '{{this.id}}')">
        <td>{{this.name}}</td>
        <td>{{this.neighborhood}}</td>
        <td>{{this.cuisine}}</td>
        <td>{{this.rating}}</td>
    </tr>
    <tr class="expand" id="rest{{this.id}}"></tr>
{{/each}}
</table>