<!DOCTYPE html>
<html lang = "en">
	<head>
		<title>Chicago Eats</title>
		<link rel = "stylesheet" href = "./css/style.css" type = "text/css">
        <script src="https://6566a88864fcff8d730ef1a5.mockapi.io/api/chirest/restaurants" defer></script>
		<meta charset = "UTF-8">
		<meta name = "description" content = "Chicago Eats">
		<meta name = "keywords" content = "brianna wright, caitlin cabanas, caroline houser, chris sinclair, chicago, restaurants, reviews, ratings">
		<meta name = "author" content = "Brianna Wright, Caitlin Cabanas Caroline Houser, Chris Sinclair">
		<meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
	</head>

	<body>
        <h2>{{specificRestaurant.name}}</h2>
        <h2>{{specificRestaurant.neighborhood}}</h2>

    </body>
    
    <footer>

    </footer>

</html>